USE [master]
GO
/****** Object:  Database [TestData]    Script Date: 2/15/2019 2:56:53 PM ******/
CREATE DATABASE [TestData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestData]
GO
USE [TestData]
GO
/****** Object:  Table [dbo].[application_environment]    Script Date: 2/15/2019 2:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_environment](
	[ip_address] [nvarchar](50) NULL,
	[user] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_method_parameters]    Script Date: 2/15/2019 2:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_method_parameters](
	[parameter_id] [int] NOT NULL,
	[application_method_id] [int] NOT NULL,
	[position] [int] NOT NULL,
	[value] [nvarchar](max) NULL,
 CONSTRAINT [PK_application_method_parameters] PRIMARY KEY CLUSTERED 
(
	[parameter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 2/15/2019 2:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Name] [varchar](50) NULL,
	[OperationId] [nchar](10) NULL,
	[Position] [int] NULL,
	[Value] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testdata]    Script Date: 2/15/2019 2:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testdata](
	[balance] [numeric](18, 2) NULL,
	[debit] [numeric](18, 2) NULL,
	[expected] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 2/15/2019 2:56:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Name] [nvarchar](50) NULL,
	[Operation] [nvarchar](50) NULL,
	[ReturnType] [nvarchar](50) NULL,
	[Parameters] [nvarchar](max) NULL,
	[Input] [xml] NULL,
	[Output] [xml] NULL,
	[Expected] [xml] NULL,
	[Passed] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
