<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLTestAdapter.Properties.Settings.TestDataConnectionString"
            connectionString="Data Source=LAPTOP-DHCHDQG6\SQLEXPRESS;Initial Catalog=TestData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>