<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SQLTestAdapter.Properties.Settings.TestDataConnectionString" connectionString="Data Source=LAPTOP-DHCHDQG6\SQLEXPRESS;Initial Catalog=TestAutomation;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TestAutomationEntities" connectionString="metadata=res://*/TestAutomation.csdl|res://*/TestAutomation.ssdl|res://*/TestAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DHCHDQG6\SQLEXPRESS;initial catalog=TestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestAutomation" connectionString="data source=LAPTOP-DHCHDQG6\SQLEXPRESS;initial catalog=TestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEAPI">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://geapi.dqtelecharge.com/EAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEAPI" contract="EAPIServiceReference.IEAPI" name="BasicHttpBinding_IEAPI" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>